.swipe-buttons .container {
    position: absolute;
    bottom: 1vh;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    justify-items: center;
    justify-content: space-evenly;
}
.tinderContainer .swipe .card{
    box-shadow: 0 16px 32px 0 transparent !important;
}
.tinderContainer .swipe:last-child .card{
    transition: 1s ease;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.45) !important;
}

.swipe-buttons .container .MuiIconButton-root {
    background-color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2) !important;
}

.repeat {
    padding: 1vw !important;
    color: #f5b748 !important;
}

.left {
    padding: 1vw !important;
    color: #ec5e6f !important;
}

.start {
    padding: 1vw !important;
    color: #62b4f9 !important;
}

.right {
    padding: 1vw !important;
    color: #76e2b3 !important;
}


.light {
    padding: 1vw !important;
    color: #915dd1 !important;
}