.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5% 2%;
    /* border-bottom: 1px solid #f9f9f9; */
    align-items: center;
    background: white;
    box-shadow: -4px -2px 13px 0 rgba(0, 0, 0, 0.2);
}

.header-logo {
    height: 50px;
    object-fit: contain;
}


.header-icon {
    padding: 20px;
}