.login .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.login .container img {
    width: 30%;
}

.login .input {
    margin-top: 2%;
    width: 50%;
}

.login .button {
    margin-top: 3%;
    width: 50%;
    align-items: center;
    border-width: 2%;
}

.login .button:hover {
    background-color: #4a7ccf;
}

.login .link {
    text-decoration: none;
    color: black;
}