.card {
    position: relative;
    width: 500px;
    padding: 2%;
    max-width: 85vw;
    height: 58vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 15px 50px 0 rgba(0, 0, 0, 0.3);
}

.card>h3 {
    position: absolute;
    bottom: 1%;
    color: white;
    font-size: 30px;
}

.tinderContainer {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}


.swipe {
    position: absolute;
}